@import './index.css';
$--color-primary: #FF40F5;
.custom-purple {
    #nprogress {
        .bar {
            background: $--color-primary;
        }
        .spinner-icon {
            border-top-color: $--color-primary;
            border-left-color: $--color-primary;
        }
    }
}
