@import './index.css';
@import '../common/index.scss';
$--color-primary: #304457;
$--second-primary: #75A0C9;
$--third-primary: #4E6C89;
$--fourth-primary: #4E6C89;
$dark: $--color-primary;
$white: #ffffff;
$hover: #4E6C89;
.custom-dark {
    @include common($--color-primary, $--second-primary, $--third-primary, $--fourth-primary);
    background: $dark;
    div, p, i, a, span {
        color: $white;
    }
    .top-menu-layout,
    .left-menu-layout {
        .header {
            .wrap-logo .logo {
                color: $white;
            }
        }
    }
    .left-menu-layout {
        .header {
            .header-right .header-content {
                .toggle {
                    i {
                        color: $white;
                    }
                    &:hover {
                        border-color: $white;
                        background-color: $hover;
                        i {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .tool-bar {
        div {
            i {
                color: $white;
            }
            &:hover {
                border-color: $white;
                background-color: $hover;
                i {
                    color: $white;
                }
            }
        }
    }
    .el-menu {
        background: $dark;
        .el-menu-item {
            i {
                color: $white;
            }
            &:hover,
            &:focus,
            &.is-active {
                background: $hover;
                border-color: $hover;
            }
        }
        &.el-menu--horizontal {
            & > .el-menu-item:not(.is-disabled) {
                &:hover,
                &:focus {
                    background: $hover;
                }
            }
        }
    }
    .el-dialog {
        background: #1d2935;
    }
    .el-dialog__title {
        color: $white;
    }
    .el-table {
        .el-table__body {
            tr {
                &:hover {
                    td {
                        background-color: $hover;
                    }
                }
            }
            td {
                background: #1d2935;
                border-right: 1px solid #303133;
                border-bottom: 1px solid #303133;
            }
        }
        th {
            background: #1d2935;
            &.is-leaf {
                border-right: 1px solid #303133;
                border-bottom: 1px solid #303133;
            }
        }
        &::before {
            background: #303133;
        }
        &.el-table--border {
            border: 1px solid #303133;
            &::after {
                background: #303133;
            }
        }
    }
    .el-button {
        span {
            color: #606266;
        }
        &.el-button--success {
            span {
                color: $white;
            }
        }
    }
    .el-card {
        background-color: $--third-primary;
    }
    .wrap-grow .wrap-node .node-info {
        .tit p::before {
            border-bottom-color: $--color-primary;
        }
        &.active,
        &:hover {
            .name {
                color: #C0C4CC;
            }
        }
    }
}
