@import './index.css';
@import '../common/index.scss';
$--color-primary: red;
$--second-primary: #F56C6C;
$--third-primary: #F7A6A6;
$--fourth-primary: #FEF0F0;
.custom-china {
    @include common($--color-primary, $--second-primary, $--third-primary, $--fourth-primary);
}
