@mixin common ($primary, $secondPrimary, $thirdPrimary, $fourthPrimary) {
    height: 100vh;
    ::selection {
        background: $--color-primary;
        color: #ffffff;
    }
    #nprogress {
        .bar {
            background: $primary;
        }
        .spinner-icon {
            border-top-color: $primary;
            border-left-color: $primary;
        }
    }
    .el-menu--horizontal {
        & > .el-menu-item {
            &.is-active,
            &:not(.is-disabled):focus {
                color: $primary;
            }
        }
    }
    .tool-bar {
        div {
            &:hover {
                border-color: $primary;
                i {
                    color: $primary;
                }
            }
        }
    }
    .left-menu-layout {
        .header .header-right .header-content {
            .toggle {
                &:hover {
                    border-color: $primary;
                    i {
                        color: $primary;
                    }
                }
            }
        }
    }
    .wrap-grow {
        .wrap-node {
            .node-info {
                &:hover,
                &.active {
                    &::after {
                        background: $secondPrimary;
                    }
                    .tit {
                        &::before {
                            background: $primary;
                        }
                        &::after {
                            background: $secondPrimary;
                        }
                        p {
                            border-color: $secondPrimary;
                            span {
                                background-color: $secondPrimary;
                            }
                            &::after {
                                border-bottom-color: $secondPrimary;
                            }
                        }
                    }
                }
                &::after {
                    background: $fourthPrimary;
                }
                .tit {
                    &::after {
                        background: $thirdPrimary;
                    }
                    &::before {
                        background: $secondPrimary;
                    }
                    p {
                        border-color: $thirdPrimary;
                        span {
                            background: $thirdPrimary;
                        }
                        &::after {
                            border-bottom-color: $thirdPrimary;
                        }
                    }
                }
            }
        }
    }
}
