@mixin border ($top: 100%, $bgColor: #e6e6e6) {
    position: relative;
    &::after {
        content: '';
        width: 200%;
        height: 1px;
        background: $bgColor;
        position: absolute;
        top: $top;
        left: -50%;
        transform: scale(0.5);
    }
}

@mixin flex($direction: row, $justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
